CELERY_JOBS_BEAT_DB_DRIVER="postgresql"
CELERY_JOBS_BEAT_DB_USERNAME="postgres"
CELERY_JOBS_BEAT_DB_PASSWORD="password"
CELERY_JOBS_BEAT_DB_HOSTNAME="localhost"
CELERY_JOBS_BEAT_DB_PORT=5432
CELERY_JOBS_BEAT_DB_DBNAME="celery_jobs_db"

CELERY_JOBS_CELERY_BROKER_URL="redis://localhost:6379/0"
CELERY_JOBS_CELERY_BACKEND_URL="redis://localhost:6379/0"
CELERY_JOBS_WORKER_QUEUE="celery_jobs_worker_queue"

CELERY_JOBS_BATCH_SIZE=2000
CELERY_JOBS_NO_OF_TASKS_TO_PROCESS=4

CELERY_JOBS_G2P_CELERY_JOB_POLL_FREQUENCY_MINUTES=0
CELERY_JOBS_G2P_CELERY_JOB_POLL_FREQUENCY_HOURS=6
CELERY_JOBS_G2P_CELERY_JOB_POLL_FREQUENCY_DAYS=0
CELERY_JOBS_G2P_CELERY_JOB_POLL_FREQUENCY_WEEKS=0

CELERY_JOBS_G2P_CELERY_JOB_INGEST_FREQUENCY=10
