# Registry Database
REGISTRY_CELERY_BEAT_DB_USERNAME="postgres"
REGISTRY_CELERY_BEAT_DB_PASSWORD="password"
REGISTRY_CELERY_BEAT_DB_HOSTNAME="localhost"
REGISTRY_CELERY_BEAT_DB_PORT=5432
REGISTRY_CELERY_BEAT_DB_DBNAME="registrydb"

# Celery Configuration
REGISTRY_CELERY_BEAT_CELERY_BROKER_URL="redis://localhost:6379/0"
REGISTRY_CELERY_BEAT_CELERY_BACKEND_URL="redis://localhost:6379/0"
REGISTRY_CELERY_BEAT_WORKER_QUEUE="registry_worker_queue"

REGISTRY_CELERY_BEAT_PRODUCER_FREQUENCY=30
REGISTRY_CELERY_BEAT_BATCH_SIZE=2000
REGISTRY_CELERY_BEAT_NO_OF_TASKS_TO_PROCESS=4
