CELERY_JOBS_WORKER_DB_DRIVER="postgresql"
CELERY_JOBS_WORKER_DB_USERNAME="postgres"
CELERY_JOBS_WORKER_DB_PASSWORD="password"
CELERY_JOBS_WORKER_DB_HOSTNAME="localhost"
CELERY_JOBS_WORKER_DB_PORT=5432
CELERY_JOBS_WORKER_DB_DBNAME="celery_jobs_db"

CELERY_JOBS_WORKER_REGISTRY_INGEST_URL="http://localhost:8000/partner/ingest"

CELERY_JOBS_WORKER_CELERY_BROKER_URL="redis://localhost:6379/0"
CELERY_JOBS_WORKER_CELERY_BACKEND_URL="redis://localhost:6379/0"
CELERY_JOBS_WORKER_WORKER_QUEUE="celery_jobs_worker_queue"

CELERY_JOBS_WORKER_BATCH_SIZE=2000
CELERY_JOBS_WORKER_WORKER_MAX_ATTEMPTS=3

CELERY_JOBS_WORKER_ENTRY_POINT_START_DATETIME="2025-12-01T00:00:00"
